
/* define variables for the primary colors */

$primary_1: #629260;
$primary_2: #053AFB;
$primary_3: #B7B7B7;
$font_size: 14px;

#title1 {
 color: $primary_1;
 font-size: $font_size;
}

#title2 {
  color: $primary_2;
  font-size: $font_size;
}

#title3 {
  color: $primary_3 ;
  font-size: $font_size;
}

#button1 {
  background-color: $primary_1;
}

#button2 {
  background-color: $primary_1;
}

#button3 {
  background-color: $primary_1;
}

